{% extends 'flatpages/default.html' %}
 
{% block title %}
{{ flatpage.title }}
{% endblock title %}
 
{% block content %}
<div class="container px-4 px-lg-5 text-center">
<div>
    <h1 class="mb-1">Секретная страница</h1>
    <h3 class="mb-5"><em>Эта страница доступна только зарегистрированному пользователю и на ней изменены шрифты и размеры текста.</em></h3>
</div>

<div style="font-size: 8pt; color: rgb(255, 42, 27);">
{{ flatpage.content }}
</div>
</div>

{% endblock content %}